<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create/Update User</title>
</head>
<body>
<h1>Create/Update User</h1>

<form th:action="@{/admin/edit/{id}(id=${user.id})}" th:object="${user}" method="post">

  <!-- Имя пользователя -->
  <label for="username">Username</label>
  <input type="text" id="username" th:field="*{username}" required/>

  <!-- Пароль -->
  <label for="password">Password</label>
  <input type="password" id="password" th:field="*{password}" required/>

  <!-- Имя -->
  <label for="name">Name</label>
  <input type="text" id="name" th:field="*{name}" required/>

  <!-- Фамилия -->
  <label for="surname">Surname</label>
  <input type="text" id="surname" th:field="*{surname}" required/>

  <!-- Возраст -->
  <label for="age">Age</label>
  <input type="number" id="age" th:field="*{age}" min="0" required/>

  <!-- Роли -->
  <label for="roles">Roles</label><br>
  <th:block th:each="role : ${roles}">
    <input type="checkbox" th:id="'role-' + ${role.id}"
           th:value="${role.id}"
           th:field="*{roles}" />
    <label th:for="'role-' + ${role.id}" th:text="${role.name}"></label><br>
  </th:block>

  <!-- Кнопка отправки -->
  <button type="submit">Submit</button>
</form>

</body>
</html>


