<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Info</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">User Info</h1>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">User Details</h5>
            <p class="card-text"><strong>ID:</strong> <span th:text="${user.id}"></span></p>
            <p class="card-text"><strong>Username:</strong> <span th:text="${user.username}"></span></p>
            <p class="card-text"><strong>LastName:</strong> <span th:text="${user.last_name}"></span></p>
            <p class="card-text"><strong>Email:</strong> <span th:text="${user.email}"></span></p>
            <form action="#" th:action="@{/logout}" method="post">
                <input type="submit" class="buttonLogout" value="Logout"/>
            </form>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>